@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Roboto:wght@300;400&display=swap');
.extensionmain {
	padding-bottom: 2rem;
}
.extensionmain h2 {
	text-align: center;
	font-size: 35px;
	color: #222841;
	font-family: 'PT Serif', serif;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.paradiv {
	display: flex;
	align-items: center;
	justify-content: center;

	max-width: 35rem;
	margin: auto auto;
}
.para {
	font-size: 20px;
	color: #a2a3a7;
	margin-top: 1rem;
	text-align: center;
}
